@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  position: relative;
  overflow: visible;
}

.page:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rectangle,
.rectangleTwo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid;
  background: #d9d9d952;
  position: absolute;
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
  filter: blur(4rem);
  -webkit-filter: blur(4rem);
  overflow-x: hidden !important;
  z-index: 1;
}

.rectangle {
  right: 0;
  top: 100%;
  transform: translate(50%, -50%);
}

.rectangleTwo {
  left: -10%;
  top: 50%;
  transform: translate(50%, -50%);
}

/* Safari Fallback for blur */
@supports not (
  (-webkit-backdrop-filter: blur(4rem)) or (backdrop-filter: blur(4rem))
) {
  .rectangle,
  .rectangleTwo {
    background: rgba(217, 217, 217, 0.52); /* Fallback background color */
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
